################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gyakorlas/Zh2022_3/Zh2022_3/obj
/Gyakorlas/Zh2022_3/Zh2022_3/bin/Debug/net6.0
/Gyakorlas/Szálkezelés_Gyak/.vs
/Gyakorlas/Szálkezelés_Gyak/Szálkezelés_Gyak/bin/Debug/net6.0
/Gyakorlas/Szálkezelés_Gyak/Szálkezelés_Gyak/obj
/Gyakorlas/ZH2020Console/.vs
/Gyakorlas/ZH2020Console/ZH2020Console/bin/Debug/net6.0
/Gyakorlas/ZH2020Console/ZH2020Console/obj
/Gyakorlas/Zh2022_1/.vs
/Gyakorlas/Zh2022_1/Zh2022_1/bin/Debug/net6.0
/Gyakorlas/Zh2022_1/Zh2022_1/obj
/Gyakorlas/ZH2022_2/.vs
/Gyakorlas/ZH2022_2/ZH2022_2/bin/Debug/net6.0-windows
/Gyakorlas/ZH2022_2/ZH2022_2/obj
/Gyakorlas/Zh2022_3/.vs
/Gyakorlas/Kapd_El_A_Négyzetet/.vs
/Gyakorlas/Kapd_El_A_Négyzetet/Kapd_El_A_Négyzetet/bin/Debug/net6.0-windows
/Gyakorlas/Kapd_El_A_Négyzetet/Kapd_El_A_Négyzetet/obj
/Gyakorlas/Zh2018/ConsoleFeladat/.vs/ConsoleFeladat
/Gyakorlas/Zh2018/ConsoleFeladat/ConsoleFeladat/bin/Debug/net6.0
/Gyakorlas/Zh2018/ConsoleFeladat/ConsoleFeladat/obj
/Gyakorlas/Zh2018/ConsoleFeladat/.vs/ProjectEvaluation
/Gyakorlas/Zh2018/Rajz/.vs/Rajz
/Gyakorlas/Zh2018/Rajz/Rajz/bin/Debug/net6.0-windows
/Gyakorlas/Zh2018/Rajz/Rajz/obj
/Gyakorlas/Zh2017/Rajz/.vs/Rajz
/Gyakorlas/Zh2017/Rajz/Rajz/bin/Debug/net6.0-windows
/Gyakorlas/Zh2017/Rajz/Rajz/obj
/Gyakorlas/Zh2018/Rajz/.vs/ProjectEvaluation
/Gyakorlas/Zh2017/ConsoleFeladat/.vs/ConsoleFeladat
/Gyakorlas/Zh2017/ConsoleFeladat/ConsoleFeladat/bin/Debug/net6.0
/Gyakorlas/Zh2017/ConsoleFeladat/ConsoleFeladat/obj
/Gyakorlas/Zh2017/Rajz/.vs/ProjectEvaluation
/Gyakorlas/Zh2016/ConsoleFeladat/.vs
/Gyakorlas/Zh2016/ConsoleFeladat/ConsoleFeladat/bin/Debug/net6.0
/Gyakorlas/Zh2016/ConsoleFeladat/ConsoleFeladat/obj
/Gyakorlas/Zh2016/Rajz/.vs
/Gyakorlas/Zh2016/Rajz/Rajz/bin/Debug/net6.0-windows
/Gyakorlas/Zh2016/Rajz/Rajz/obj
/Gyakorlas/Zh2017/ConsoleFeladat/.vs/ProjectEvaluation
/ZH2023/Console/Area/.vs
/ZH2023/Console/Area/Area/bin/Debug/net6.0
/ZH2023/Console/Area/Area/obj
/ZH2023/Console/Négyzet/.vs/Négyzet
/ZH2023/Console/Négyzet/Négyzet/bin/Debug/net6.0-windows
/ZH2023/Console/Négyzet/Négyzet/obj
/ZH2023/Console/Szálkezelés/.vs
/ZH2023/Console/Szálkezelés/Szálkezelés/bin/Debug/net6.0
/ZH2023/Console/Szálkezelés/Szálkezelés/obj
/ZH2023/Area/.vs/Area/DesignTimeBuild
/ZH2023/Area/.vs/Area/FileContentIndex
/ZH2023/Area/.vs
/ZH2023/Area/Area/bin/Debug/net6.0
/ZH2023/Area/Area/obj
/ZH2023/Négyzet/.vs
/ZH2023/Négyzet/Négyzet/bin/Debug/net6.0-windows
/ZH2023/Négyzet/Négyzet/obj
/ZH2023/Szálkezelés/.vs
/ZH2023/Szálkezelés/Szálkezelés/bin/Debug/net6.0
/ZH2023/Szálkezelés/Szálkezelés/obj
/Vizsga23/Első/2feladat/.vs/2feladat
/Vizsga23/Első/2feladat/2feladat/bin/Debug/net6.0-windows
/Vizsga23/Első/2feladat/2feladat/obj
/Vizsga23/Első/teszt_1_3_4_imsc_feladat/teszt_1_3_4_imsc_feladat/bin/Debug/net6.0
/Vizsga23/Első/teszt_1_3_4_imsc_feladat/teszt_1_3_4_imsc_feladat/obj
/Vizsga23/Első/teszt_1_3_4_imsc_feladat/.vs/ProjectEvaluation
/Vizsga23/Első/teszt_1_3_4_imsc_feladat/.vs/teszt_1_3_4_imsc_feladat
/Gyakorlas/Vizsga/v18/18VizsgaAB/.vs/ProjectEvaluation
/Gyakorlas/Vizsga/v18/Forms/.vs/ProjectEvaluation
*.v2
/Gyakorlas/Vizsga/v18/Forms/.vs/Forms/v17/.suo
/Gyakorlas/Vizsga/V2015/.vs
/Gyakorlas/Vizsga/V2015/Forms/Forms/obj
/Gyakorlas/Vizsga/V2015/Forms/Forms/bin/Debug/net6.0-windows
/Gyakorlas/Vizsga/V2015/Forms/.vs/ProjectEvaluation
/Gyakorlas/Vizsga/V2015/Forms/.vs/Forms/FileContentIndex
*.suo
/Gyakorlas/Vizsga/V2015/V2015/bin/Debug/net6.0
/Gyakorlas/Vizsga/V2015/V2015/obj
/Gyakorlas/Vizsga/Zh22/22ZhConsole/.vs
/Gyakorlas/Vizsga/Zh22/22ZhConsole/22ZhConsole/bin/Debug/net6.0
/Gyakorlas/Vizsga/Zh22/22ZhConsole/22ZhConsole/obj
/Gyakorlas/Vizsga/Zh22/Form/.vs
/Gyakorlas/Vizsga/Zh22/Form/Form/bin/Debug/net6.0-windows
/Gyakorlas/Vizsga/Zh22/Form/Form/obj
/Gyakorlas/Vizsga/v18/18VizsgaAB/18VizsgaAB/obj/Debug/net6.0/18VizsgaAB.pdb
/Gyakorlas/Vizsga/v18/18VizsgaAB/18VizsgaAB/obj/Debug/net6.0/refint/18VizsgaAB.dll
/Gyakorlas/Vizsga/v18/18VizsgaAB/18VizsgaAB/obj/Debug/net6.0/18VizsgaAB.dll
/Gyakorlas/Vizsga/v18/18VizsgaAB/18VizsgaAB/obj/Debug/net6.0/ref/18VizsgaAB.dll
/Gyakorlas/Vizsga/v18/18VizsgaAB/18VizsgaAB/bin/Debug/net6.0/18VizsgaAB.pdb
/Gyakorlas/Vizsga/v18/18VizsgaAB/18VizsgaAB/bin/Debug/net6.0/18VizsgaAB.dll
/Gyakorlas/Vizsga/v18/18VizsgaAB/.vs/18VizsgaAB/v17/.suo
*.vsidx
/Gyakorlas/Vizsga/v18/18VizsgaAB/.vs/18VizsgaAB/FileContentIndex/3e452111-55ee-4899-8e05-382476554ef7.vsidx
/Gyakorlas/Vizsga/v18/18VizsgaAB/.vs/18VizsgaAB/FileContentIndex/a0c2213f-ce72-40de-9afc-bf5b6a2914d0.vsidx
/Gyakorlas/Vizsga/v18/18VizsgaAB/.vs/18VizsgaAB/DesignTimeBuild/.dtbcache.v2
/Vizsga23/Második/feladat_1_3/feladat_1_3/bin/Debug/net6.0
/Vizsga23/Második/feladat_1_3/feladat_1_3/obj
/Vizsga23/Első/2feladat/.vs/ProjectEvaluation
/Vizsga23/Második/feladat_1_3/.vs/feladat_1_3/FileContentIndex
